<div id="<%= dom_id student %>">

  <td>
    <%= student.rut %>
  </td>

  <td>
    <%= student.name %>
  </td>

  <td>
    <%= student.lastname1 %>
  </td>

  <td>
    <%= student.lastname2 %>
  </td>

  <td>
      <%= student.course.code %>
  </td>

    <td>
        <%= student.course.plan.description %>
  </td>

</div>
