<div id="<%= dom_id student %>">
  <p>
    <strong>Rut:</strong>
    <%= student.rut %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Lastname1:</strong>
    <%= student.lastname1 %>
  </p>

  <p>
    <strong>Lastname2:</strong>
    <%= student.lastname2 %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student.address %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= student.region_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= student.course_id %>
  </p>

</div>
