<div id="<%= dom_id course %>">
  <p>
    <strong>Code:</strong>
    <%= course.code %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= course.startdate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= course.enddate %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= course.plan_id %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= course.region_id %>
  </p>

</div>
